body
{
    background-color: #FFF7F1;
    margin: 5px;
}
.header
{
    display: grid;
    grid-template-columns: 150px 1fr 0.2fr;
    background-color: #FFE4C9;
    border-radius: 15px;
    margin: 0 0 10px 0;
}

.ttl
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img
{
    border-radius: 15px;
    width: 150px;
}

.login
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login button
{
    background-color: #FFF7F1;
    border: none;
    margin-left: 10px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}

.login button a
{
    text-decoration: none;
    color: black;
}

.login button:hover
{
    background-color: #FEB941;
}

@media(max-width: 500px)
{
    .header
    {
        display: block;
    }

    .logo
    {
        display: flex;
        justify-content: center;
    }

    .logo img
    {
        width: 150px;
    }

    .header
    {
        padding: 25px;
    }
}

nav
{
    background-color: #FFE4C9;
    border-radius: 15px;
}

nav ul
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li
{
    height: 50px;
}

nav a
{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.sidebar
{
    background-color: #FFE4C9;
    padding-left: 0;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
}

.sidebar a
{
    width: 100%;
    padding-left: 20px;
}

.sidebar li
{
    width: 100%;
    height: 50px;
}

.sidebar li:hover
{
    background-color: #feb94155;
}

.sidebar2
{
    display: flex;
    justify-content: flex-start;
    height: 8vh;
}

.sidebar2 li
{
    height: 80%;
    border-radius: 15px;
}

.sidebar2 a
{
    padding: 0 15px 0 15px;
    height: 100%;
}

.sidebar2 li:hover
{
    background-color: #feb94155;
}

.open_button
{
    display: none;
}

.open_button:hover
{
    transform: scale(1.1);
}

.dark_mode
{
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: 20px;
}

.dark_mode:hover
{
    transform: scale(1.1);
}

@media(max-width: 600px)
{
    .hideOnMobile
    {
        display: none;
    }

    .dark_mode
    {
        margin-right: auto;
        margin-left: 0;
    }

    .sidebar2
    {
        padding-left: 20px;
    }

    .open_button
    {
        display: block;
    }
}

@media(max-width: 500px)
{
    .sidebar
    {
        width: 100%;
        padding-top: 25px;
    }

    .sidebar li
    {
        padding: 5px 30px ;   
    }
}

.slideshow-container img
{
    width: 100%;
    border-radius: 15px;
}

